@import '../../../App.scss';

.icon-skill {
    height: 40px;
    width: 40px;
}

.skill {
    height: 100%;
    background: var(--global-base-color);
    min-height: 30px;

    svg, h3 {
        color: var(--global-accent-color);
    }

    &:hover {
        background: var(--global-base-color);
    }
}
