@import '../../../App.scss';

.icon-skill {
    height: 40px;
    width: 40px;
}

.skill {
    height: 100%;
    background: $secondary-color;
    min-height: 30px;

    &:hover {
        background: $secondary-color;
        svg, h3 {
            color: $accent-color;
        }
    }
}
