@import '../../App.scss';

#skills {
    .row {
        div {
            margin-bottom: 15px;

            i {
                font-size: 30px;
                margin-bottom: 25px;
            }
        }
    }
}