.project {
    background: #404040;
    min-height: 250px;

    &:hover {
        background: #4d4d4d;
        svg, h3 {
            color: #EBF983;
        }
    }

    &.realestate {
        background: url('../../../../public/projects/project-realestate.png');
        background-size: cover;
        background-position: center;
    }

    &.spring {
        background: url('../../../../public/projects/project-spring.jpg');
        background-size: cover;
        background-position: center;
    }

    &.shooter {
        background: url('../../../../public/projects/project-shooter.jpg');
        background-size: cover;
        background-position: center;
    }

    &.game {
        background: url('../../../../public/projects/project-js.png');
        background-size: cover;
        background-position: center;
    }

    
}
