@import '../../App.scss';

.nav-bar {
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;

    .navbar-toggler {
        border: 2px solid var(--global-accent-color);

        .navbar-toggler-icon {
            background-image: none;
            &::before {
                content: '\f0c9';
                color: var(--global-accent-color);
                font: var(--fa-font-solid);
                font-size: 24px;
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        border: none;
        right: 0;
        .dropdown-item {
            padding: 10px;
            background: var(--global-base-color);
            color: var(--global-text-color);
            span {
                margin-right: 10px;
            }
        }
    }


    nav {
        a {
            text-decoration: none;
            font-size: 18px;
            color: inherit;
            position: relative;
        }
          
        a:hover {
            color: var(--global-accent-color);
        }
          
        .liner {
            a::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--global-accent-color);
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }
              
            a:hover::before {
                transform: scaleX(1);
            }
        }
        
        .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        .navbar-brand {
            color: var(--global-accent-color);
        }
    }
}

.nav-link.active {
    color: var(--global-accent-color) !important;
}