@import '../../App.scss';

.nav-bar {
    position: fixed;
    top:0;
    z-index: 100;
    width: 100%;

    .navbar-toggler {
        color: $text-color;
    }

    nav {
        background:   $primary-color;

        a {
            text-decoration: none;
            font-size: 1.5em;
            font-weight: 400;
            color: inherit;
            position: relative;
        }
          
        a:hover {
            color: $text-color;
        }
          
        a::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $accent-color;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
          
        a:hover::before {
            transform: scaleX(1);
        }

        .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        .navbar-brand {
            color: $accent-color;
        }
    }
}

.nav-link.active {
    color: $accent-color !important;
}