#home {
    height: 90vh;
    margin-top: 20vh;

    @media (max-width: 992px) {
        margin-top: 0;
    }

    h1:first-of-type {
        margin-bottom: 0;
    }

    .row {
        margin-top: 250px;

        @media (max-width: 992px) {
            margin-top: 0px;
        }
    }

    #logo-img {
        width: 40%;
        opacity: 0.1;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 8%;

        @media (max-width: 992px) {
            width: 100%;
        } 
    }

    #more {
        font-size: 20px;
        margin-top: 20vh;
        text-align: center;

        @media (max-width: 992px) {
           display: none;
        }

        a {
            text-decoration: none;
            color: var(--global-text-color);
            i {
                font-size: 30px;
            }
        }
    }
}