.home-page {

    .header-zone {
        font-size: 1.5em;
        margin-top: 125px;
        padding: 2em;
        animation: fadeInDown 2s 1s;
        animation-delay: 0ms;
        background-color: #e6e6e6;
    }

}