.contact-form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background: #4d4d4d;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin-bottom: 10px;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        border: 0;
        height: 50px;
        font-size: 16px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        border: 0;
        height: 50px;
        font-size: 16px;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        min-width: 200px;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #EBF983;
        border: 1px solid #EBF983;
        background: #333333;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;

        &:hover {
            background: #EBF983;
            color: #333333;
        }
    }
}