@import '../../App.scss';

.row {
    div {
        margin-bottom: 15px;
    }
}

input[type='text'],
input[type='email'],
textarea,
.flat-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    min-height: 150px;
    resize: none;
}