@import '../../App.scss';

#contact {
    .row {
        div {
            margin-bottom: 15px;
        }
    }
    
    input[type='text'],
    input[type='email'],
    textarea,
    .flat-button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    textarea {
        min-height: 150px;
        resize: none;
    }

    img {
        width: 100%;
        -webkit-clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% calc(0% + 50px), 100% 100%, calc(0% + 50px) 100%, 0% calc(100% - 50px));
        clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% calc(0% + 50px), 100% 100%, calc(0% + 50px) 100%, 0% calc(100% - 50px));
    }
}
