@import '../../App.scss';

#footer {
    height: 150px;
    margin-top: 100px;
    background: var(--global-navigation-color);
    padding: 3em;

    div {
        text-align: center;

        span {
            div {
                margin-left: 10px;
                margin-top: 10px;

                a {
                    color: var(--global-accent-color);
                    text-decoration: none;
                }
            }
        }
    }

    svg {
        margin-right: 20px;
    }
}