@import '../../App.scss';

#footer {
    margin-bottom: 1rem;

    div {
        text-align: center;

        span {
            div {
                margin-left: 10px;
                margin-top: 10px;

                a {
                    color: var(--global-accent-color);
                    text-decoration: none;
                }
            }
        }
    }

    svg {
        margin-right: 20px;
    }
}