#socials {
    z-index: 8;
    position: fixed;

    .left {
      font-size: 25px;
      bottom: 2%;
      position: inherit;
      left: 1%;

      display: grid;
      row-gap: 15px;
      
      a {
        color: var(--global-text-color);

        &:hover {
          color: var(--global-accent-color);
        }
      }
    }

    .right {
      font-size: 20px;
      bottom: 2%;
      position: inherit;
      right: 1%;
      
      writing-mode: vertical-lr;

      span {
        text-orientation: mixed;
      }
    }

    
}