.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.show {
    opacity: 1;
    filter: blur(0);
}  

@media(prefers-reduced-motion) {
    .hidden,
    .show {
        opacity: 1;
    }  
}

.ball {
    z-index: 999;
    border: 2px solid var(--black_0);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;

    @media (max-width: 992px) {
        display: none;
    }
}

#waveContainer {
	path#wave {
		fill: var(--accent);
	}
}

#more {
	font-family: 'SFProBlack';
	position: absolute;
    top: 90vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 2;

	a {
		text-decoration: none;
	}
}