
.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.show {
    opacity: 1;
    filter: blur(0);
}  

@media(prefers-reduced-motion) {
    .hidden,
    .show {
        opacity: 1;
    }  
}

.ball {
    z-index: 999;
    border: 2px solid var(--global-text-color);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;

    @media (max-width: 992px) {
        display: none;
    }
}

.wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
	margin-bottom: -1px;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(179% + 1.3px);
    height: 103px;
}

.wave .shape-fill {
    fill: var(--global-secondary-color);
}