.card-panel {
	background-color: var(--black_1);
	color: var(--white_1);
	padding: 30px;
	height: 100%;

	&.gradient {
		color: var(--black_0);
		background-color: #e6e6e6;

		h2 {
			color: var(--black_0) !important;
		}
	}
}  