.card-panel {
	background-color: var(--black_1);
	color: var(--white_1);
	padding: 40px;
	height: 100%;

	&.gradient {
		color: var(--black_0);
		background-color: #e6e6e6;

		* {
			color: var(--black_0) !important;
		}
	}

	.tags {
		margin-top: 25px;

		.tag {
			@extend .fs-s;
			display: inline-block;
			background: var(--accent);
			color: var(--black_0);
			padding: 10px;
			font-weight: 600;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
}