body.light {
    --global-base-color: linear-gradient(180deg, #cccccc 20%, #E6E6E6 25%, #E6E6E6 84%, #cccccc 89%);
    --global-base-color-2:  #E6E6E6;
    --global-section-color:  #cccccc;
    --global-text-color: #0d0d0d;
    --global-accent-color: #54926e;
    background: var(--global-base-color);
}

body.dark {
    --global-base-color: linear-gradient(180deg, #0d0d0d 20%, #262626 25%, #262626 84%, #0d0d0d 89%);
    --global-base-color-2: #262626;
    --global-section-color: #1a1a1a;
    --global-text-color: #cccccc;
    --global-accent-color: #A9CEC2;
    background: var(--global-base-color);
}

.base-color {
    background: var(--global-base-color);
}

.base-color-2 {
    background: var(--global-base-color-2);
}

.section-color {
    background-color: var(--global-section-color) !important;
    border-radius: 25px;
}

.text-color {
    color: var(--global-text-color);
}

.accent-color {
    color: var(--global-accent-color);
}