a,
button {
	@extend .fs-m;
	text-decoration: none;

	&.btn {
		min-width: 250px;
		background-color: var(--black_0);
		border: none;

		&:hover {
			background-color: var(--black_1);
			border: none;
		}

		&.media {
			min-width: 0;
			border: none;
			width: auto;

			&:hover {
				color: var(--accent);
			}
		}

		.btn-content {
			padding: 10px;
			width: 100%;
			height: 100%;

			i,
			ion-icon {
				font-size: 20px;
			}
		}
	}
}

input, 
textarea {
	@extend .fs-s;
	border-radius: 0 !important;
}

textarea {
	min-height: 150px !important;
	resize: none;
}