body {
    font: 300 11px/1.4 'SFPro', Tahoma, Geneva, Verdana, sans-serif;

    .container {
        margin-top: 150px;
    
        @media (max-width: 992px) {
            margin-top: 100px;
        }

        section {
            h1:first-of-type {
                margin-top: 100px;
        
                @media (max-width: 992px) {
                    margin-top: 50px;
                }
            }

            .card-panel {
                @extend .third-color;
                border-radius: 25px;
                padding: 25px;
                height: 100%;
                box-shadow: var(--global-third-color) 0px 5px 15px;
            }

            textarea {
                min-height: 150px;
                resize: none;
            }

            .custom-button {
                font-size: 18px;
                border: 1px solid var(--global-accent-color);
                border-radius: 0;
                padding: 8px 10px;
                background: 0;
                color: var(--global-accent-color);

                &:hover {
                    background: var(--global-accent-color);
                    color: var(--global-third-color);
                }
            }
        }
    }
}

img {
    width: 100%;

    &.cropped {
        z-index: 5;
        -webkit-clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% calc(0% + 50px), 100% 100%, calc(0% + 50px) 100%, 0% calc(100% - 50px));
        clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% calc(0% + 50px), 100% 100%, calc(0% + 50px) 100%, 0% calc(100% - 50px));
    }
}

#logo-img {
    width: 35%;
    opacity: 0.1;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 8%;

    @media (max-width: 992px) {
        width: 100%;
    } 
}