#navigation {
    &.nav-bar {
        position: fixed;
        top:0;
        z-index: 100;
        width: 100%;
		background-color: var(--global-primary-color);

        .navbar-toggler {
            border: none;
            box-shadow: none;
    
            .navbar-toggler-icon {
                border: none;
                background-image: none;
                color: var(--global-accent-color);
                font: var(--fa-font-solid);
            }
        }
    
        .dropdown-menu {
            padding: 0;
            border: none;
            right: 0;
            .dropdown-item {
                padding: 10px;
                background: var(--global-third-color);
                color: var(--global-text-color);
                span {
                    margin-right: 10px;
                }
            }
        }
    
        a {
            position: relative;
        }
            
        a:hover {
            color: var(--global-accent-color);
        }
            
        .liner {
            a::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--global-accent-color);
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }
                
            a:hover::before {
                transform: scaleX(1);
            }
        }
        
        .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        .navbar-brand {
			font: 20px 'SFProBlack';
            color: var(--global-accent-color);
        }

        .nav-link.active {
            color: var(--global-accent-color) !important;
        }
    }
}

#home {
	position: relative;
    min-height: 80vh;

    @media (max-width: 992px) {
		h1 {
			margin-top: 80px !important;
		}
	}

    .canvas {
        height: 60vh !important;
        margin-top: -150px;

        @media (max-width: 992px) {
			height: 400px !important;
            margin-top: 0px;
        }
    }

	#content-home {
		position:absolute;
		transition: transform 0.2s ease-in-out;
		margin-top: 20%;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		object-fit: cover;

		@media (max-width: 992px) {
			margin-top: 0px;
		}

		img {
			opacity: 0.2;
			margin-left: -7vw;

			@media (max-width: 992px) {
				margin-left: 0px;
				width: 50%;
				height: auto;
				margin-left: 25%;
			}
		}
	}
}

#about {
	.about-image {
		background-image: var(--global-about-image);
		background-size: cover;
		height: 450px;

		@media (max-width: 992px) {
			height: 300px;
			margin-top: 100px;
		}
	}
}

#projects {
    img {
        max-height: 300px;
        object-fit: cover;
    }
}

#socials {
    z-index: 8;
    position: fixed;

    .left {
      bottom: 2%;
      position: inherit;
      left: 1%;

      display: grid;
      row-gap: 15px;
    }

    .right {
      bottom: 2%;
      position: inherit;
      right: 1%;
      
      writing-mode: vertical-lr;

      span {
        text-orientation: mixed;
      }
    }  
}

#footer {
    margin: 200px 25px 50px 25px;
}

#others {
	.carousel {
		.carousel-item {
			img {
				height: 50vh;
				width: auto;
			}
		}

		.carousel-inner {
			background-color: #19181b;
		}
	}
}