#navigation {
    &.nav-bar {
        position: fixed;
        top:0;
        z-index: 100;
        width: 100%;
		background-color: var(--global-primary-color);

        .navbar-toggler {
            border: none;
            box-shadow: none;
    
            .navbar-toggler-icon {
                border: none;
                background-image: none;
                color: var(--global-accent-color);
                font: var(--fa-font-solid);
            }
        }
    
        .dropdown-menu {
            padding: 0;
            border: none;
            right: 0;
            .dropdown-item {
                padding: 10px;
                background: var(--global-third-color);
                color: var(--global-text-color);
                span {
                    margin-right: 10px;
                }
            }
        }
    
        a {
            text-decoration: none;
            font-size: 20px;
            color: inherit;
            position: relative;
        }
            
        a:hover {
            color: var(--global-accent-color);
        }
            
        .liner {
            a::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--global-accent-color);
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }
                
            a:hover::before {
                transform: scaleX(1);
            }
        }
        
        .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        .navbar-brand {
			font: 20px 'SFProBlack';
            color: var(--global-accent-color);
        }

        .nav-link.active {
            color: var(--global-accent-color) !important;
        }
    }
}

#home {
	position: relative;
    min-height: 100vh;

    h1:first-of-type {
        margin-bottom: 0;
    }

    .canvas {
        height: 600px !important;
		opacity: 0.8;
        margin-top: -150px;

        @media (max-width: 992px) {
			height: 300px !important;
            margin-top: 0px;
        }
    }

    #more {
        font-size: 20px;
        margin-top: 5vh;

        @media (max-width: 992px) {
        	margin-top: 0;
        }

        a {
            text-decoration: none;
            color: var(--global-text-color);
        }
    }

	#content-home {
		position:absolute;
		transition: transform 0.2s ease-in-out;
		margin-top: 250px;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width: 992px) {
			margin-top: 0px;
		}
	}
}

#projects {
    img {
        max-height: 300px;
        object-fit: cover;
    }
}

#socials {
    z-index: 8;
    position: fixed;

    .left {
      font-size: 25px;
      bottom: 2%;
      position: inherit;
      left: 1%;

      display: grid;
      row-gap: 15px;
      
      a {
        color: var(--global-text-color);

        &:hover {
          color: var(--global-accent-color);
        }
      }
    }

    .right {
      font-size: 20px;
      bottom: 2%;
      position: inherit;
      right: 1%;
      
      writing-mode: vertical-lr;

      span {
        text-orientation: mixed;
      }
    }  
}

#contact {
	padding-bottom: 150px;
}

#footer {
    margin: 50px 25px 50px 25px;
}