@font-face {
    font-family: 'Freight';
    src: url('../fonts/Freight/FreightDispProLight-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'FreightMedium';
    src: url('../fonts/Freight/FreightDispProMedium-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'FreightBold';
    src: url('../fonts/Freight/FreightDispProBold-Regular.otf') format('opentype');
}

.fs-xxl {
    font-size: 56px !important;
	@media (max-width: 992px) {
		font-size: 58px !important;
	}
}

.fs-xl {
    font-size: 48px !important;
	@media (max-width: 992px) {
		font-size: 50px !important;
	}
}

.fs-l {
    font-size: 30px !important;
	@media (max-width: 992px) {
		font-size: 32px !important;
	}
}

.fs-m {
    font-size: 26px !important;
	@media (max-width: 992px) {
		font-size: 28px !important;
	}
}

.fs-s {
    font-size: 24px !important;
	font-weight: 600;
	@media (max-width: 992px) {
		font-size:26px !important;
	}
}

.fs-xs {
    font-size: 22px !important;
	@media (max-width: 992px) {
		font-size: 24px !important;
	}
}

html {
    font: 300 11px/1.4 'Freight', Tahoma, Geneva, Verdana, sans-serif;

	h1 {
		@extend .fs-xl;
		color: var(--black_1);
		font-family: 'FreightBold';
		margin: 100px 0 50px 0 !important;

		&.main {
			@extend .fs-xxl;
			color: var(--white_1);
		}
	}

	h2 {
		@extend .fs-l;
		color: var(--accent);
		font-family: 'FreightMedium';
		margin-bottom: 20px !important;
	}

	p {
		@extend .fs-s;
		font-family: 'Freight';
		letter-spacing: 1px;
		text-align: justify;
	}

	
	img {
		width: 100%;
	
		&.logo {
			max-height: 40px;
			max-width: 40px;
			margin-right: 0.5rem;
		}
	
		&.cropped {
			z-index: 5;
			-webkit-clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% calc(0% + 50px), 100% 100%, calc(0% + 50px) 100%, 0% calc(100% - 50px));
			clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% calc(0% + 50px), 100% 100%, calc(0% + 50px) 100%, 0% calc(100% - 50px));
		}
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	.mb-10 {
		margin-bottom: 10px;
	}

	.mt-10 {
		margin-top: 10px;
	}

	.mr-10 {
		margin-right: 10px;
	}
	
	i {
		font-size: 28px;
	}
	
	.right {
		float: right;
	}
}

