@font-face {
    font-family: 'La Belle Aurore';
    src: url('../fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
    font-family: 'ARSMaquette';
    src: url('../fonts/ARSMaquette/ARSMaquettePro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'ARSMaquetteBold';
    src: url('../fonts/ARSMaquette/ARSMaquettePro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ARSMaquetteBlack';
    src: url('../fonts/ARSMaquette/ARSMaquettePro-Bold.ttf') format('truetype');
}

.quote {
    font-family: "La Belle Aurore";
    display: block;
    text-align: center;  
    margin: 10px 0px;
}

.font-bold {  
    font: 300 11px/1.4 'ARSMaquetteBold';
}

.font-black {  
    font: 300 11px/1.4 'ARSMaquetteBlack';
}

.text-xl {
    font-size: 46px !important;
}

.text-l {
    font-size: 28px !important;
}

.text-m {
    font-size: 20px !important;
} 

.text-s {
    font-size: 18px !important;
}

.heading-1 {
    font: 11px 'ARSMaquetteBlack';
    @extend .text-color;
    @extend .text-xl;
    margin: 100px 0 50px 0;
}

.heading-2 {
    font: 11px 'ARSMaquette';
    margin-bottom: 20px;
    @extend .accent-color;
    @extend .text-l;
}

.heading-3 {
    font: 11px 'ARSMaquette';
    @extend .text-color;
    @extend .text-m;
    text-align: justify;
    margin-bottom: 25px;
}

.custom-button {
    font-size: 18px;
    border: 1px solid var(--global-accent-color);
    border-radius: 0;
    padding: 8px 10px;
    background: 0;
    color: var(--global-accent-color);

    &:hover {
        background: var(--global-accent-color);
        color: var(--global-section-color);
    }
}