@font-face {
    font-family: 'La Belle Aurore';
    src: url('../fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
    font-family: 'SFPro';
    src: url('../fonts/SFPro/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
    font-family: 'SFProMedium';
    src: url('../fonts/SFPro/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
    font-family: 'SFProBlack';
    src: url('../fonts/SFPro/SFPRODISPLAYBOLD.OTF') format('opentype');
}

.heading-1 {
    font: 11px 'SFProBlack';
    @extend .text-color;
    font-size: 40px !important;
    margin: 100px 0 50px 0;

    @media (max-width: 992px) {
        font-size: 36px !important;
    }
}

.heading-2 {
    font: 11px 'SFProMedium';
    margin-bottom: 20px;
    @extend .accent-color;
    font-size: 22px !important;

    @media (max-width: 992px) {
        font-size: 16px !important;
    }
}

.heading-3 {
    font: 11px 'SFPro';
    letter-spacing: 1px;
    @extend .text-color;
    margin-bottom: 25px;
    font-size: 20px !important;

    @media (max-width: 992px) {
        font-size: 16px !important;
    }
}

.quote {
    font-family: "La Belle Aurore";
    display: block;
    margin: 10px 0px;
    font-size: 24px !important;

	@media (max-width: 992px) {
        font-size: 24px !important;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

p {
    margin: 0;
}

i {
    font-size: 28px;
}